div {
	padding-top: 0px;
	
}

#menu a {
	padding-left: 300px; color:black;
	padding: 10px;
	text-decoration: none;
	background-color: black;
	color: white
}

h1 {
	font-family: Edwardian Script ITC; color: black;
	font-size:  100px;
}
h2{
	font-family: Edwardian Script ITC; color:black ;
	font-size: 50px;
}
div{
 border:2px; background-color:; height:25px;
}

body{
	background-repeat: no-repeat;
	background-size: 100%;
}

#k {
	height: 500px;
}